.quiz {
    border-radius: 5px;
    margin: 50px 250px;
    box-shadow: 0px 0px 15px 5px rgba(0, 9, 14, 0.083);
    padding: 30px 5px;

}

.quiz:hover {
    box-shadow: 0px 0px 15px 5px rgba(89, 194, 251, 0.164);
}

.grid {
    padding: 50px;
}

.grid button {
    border-radius: 5px;
    margin: 5px;
    padding: 20px 5px;
    background-color: rgba(0, 106, 255, 0.651);
    color: white;
    font-weight: 500;
}




@media screen and (max-width:767px) {
    .quiz {
        border-radius: 5px;
        margin: 2px 2px;
        box-shadow: 0px 0px 15px 5px rgba(0, 9, 14, 0.083);
        padding: 3px 1px;

    }
}