.style {
    width: 25%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(3, 56, 94, 0.129);
}

.image {
    width: 300px;
}

.flex button {
    background-color: rgba(0, 123, 255, 0.839);
    color: white;
    border-radius: 15px;
    padding: 6px;
    font-size: 18px;

}